@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add this CSS to your global stylesheet or within a <style jsx> block */
.relative.group:hover .absolute {
  display: block;
  pointer-events: auto;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.clip-path-wave {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  animation: wave 10s linear infinite;
}