@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add this CSS to your global stylesheet or within a <style jsx> block */
.relative.group:hover .absolute {
  display: block;
}

.relative.group:hover .absolute {
  pointer-events: auto;
}